<div class="top-bar">
  <header><span class="uml">uml</span>fiddle</header>
  <div class="buttons btn-group">
    <button class="btn" id="save">Save</button>
  </div>
</div>

<div class="split-view">
  <div class="editor-container">
    <div class="editor"><%= content %></div>
  </div>
  <div class="handle"></div>
  <div class="diagram-container">
    <div class="diagram">
      <%= content %>
    </div>
  </div>
</div>
